<div class="container"> 
    <div class="row justify-content-center">
        <h1>Portfolio</h1>
        <p>Donec ullamcoper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
        cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="https://picsum.photos/id/1/700/400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptatem animi sint cum, veritatis beatae sapiente magnam numquam inventore explicabo ex officia possimus provident. Culpa tenetur eum enim delectus sit?.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://picsum.photos/id/4/700/400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nulla modi velit amet possimus quas aperiam eius debitis. Hic quae quas ut fugiat similique suscipit. Optio aliquam veniam cupiditate omnis.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://picsum.photos/id/5/700/400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga accusantium earum qui laudantium dignissimos. Explicabo doloremque magnam ratione consequatur voluptatum similique cumque tempore dolorum sit officia aut sunt, corporis quos?.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>