<div class="container">
    <div class="row">
        <div class="col-3 p-0">
            <img class="rounded-circle img-thumbnail" src="https://images.pexels.com/photos/7793740/pexels-photo-7793740.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"  alt="..." data-holder-rendered="true">
        </div>
        <div class="col-8 p-0">
            <h1> <strong>The second Heading</strong> Is Pretty Cool Too.
            </h1>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Preaesent Commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>
</div>