<div class="row">
  <div class="col-12 pe-0 ps-0 pb-5">
    <div class="card bg-dark text-black">
      <img height="400" src="https://c1.wallpaperflare.com/preview/427/545/119/skyscraper-horizon-city-architecture.jpg"
        class="card-img" alt="...">
      <div class="card-img-overlay ps-1 pe-1">
        <p class="card-title-t fw-bold bg-white d-flex justify-content-center">One Page Wonder</p>
        <p class="card-text-t fw-bold d-flex justify-content-center bg-white">Will Knock Your Socks Off</p>
      </div>
    </div>
  </div>
</div>